@import '../../public/styles/constants';

.header {
  font-size: 1.8rem;
  height: 80px;
  background-color: $color-layout;
  display: flex;
  align-items: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-image: url(../../public/images/currencies.png);
  width: 70px;
  height: 70px;
  background-size: 70px;
  background-repeat: no-repeat;
}

.navigation {
  display: flex;
  gap: 20px;
}