@import '../../public/styles/constants';

.footer {
  font-size: 1.8rem;
  height: 80px;
  background-color: $color-layout;
  display: flex;
  align-items: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
